
# temorary file (gets overriden every build)
quarkus-cache/src/main/resources/application.properties
quarkus-movies/src/main/resources/application.properties

# input files
quarkus-movies/*.input
quarkus-cache/jmeter_db_*.csv

# vim
editinfo

# saved builds
builds/

# log files
*.log

# Eclipse
.project
.classpath
.settings/
.metadata/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
